{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:video="http://typo3.org/ns/Faeb/Videoprocessing/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="Main">

    <f:be.infobox title="Note on error handling">
        Error handling needs improvement.
        <br>
        <!-- The local ffmpeg implementation will never state that there is an error, -->
        <!-- ToDo use php-ffmpeg? -->
        - remove the task, if it doesn't start.
        - deleting a task, deletes a processed files, for example mp4 was successful, wepm failed. mp4 will not be shown here, because it was already proccessed, @ToDo
        <br>
        <!--
        [depricated]
        On the other hand, the CloudConvert implementation <em>caches</em> error states so if there is an error
        you may need to truncate <code>tx_video_cloudconvert_process</code> in addition to removing the task to retry.
        At least it doesn't get stuck on a single failing task… -->
        <br>
        I haven't had time to fix those issues yet.
        <a href="https://github.com/t3pwa/videoprocessing/issues">Issues</a>
    </f:be.infobox>

    <div class="panel panel-default">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 13em">create date</th>
                    <th style="width: 6em">status</th>
                    <th>file</th>
                    <!-- <th>poster image</th> -->
                    <th>configuration</th>
                    <th style="width: 10em"></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{tasks}" as="task">
                    <tr class="{f:if(condition: '{task.status} == \'failed\'', then: 'danger')}">
                        <td>
                            <f:variable name="now" value="{f:format.date(date: 'now',format:'%s')}" />
                            <f:variable name="crdate" value="{f:format.date(date:'{task.crdate}',format:'%s')}" />

                            {task.crdate -> f:format.date(format: 'l d. M Y')}
                            {task.crdate -> f:format.date(format: 'H:i:s')}

                            <!-- https://t3planet.com/typo3-tutorials/typo3-fluid-date-format-times-ago/ -->
                            <small>
                                <f:variable name="diff" value="{now - crdate}" />
                                <br />
                                <f:format.number decimals="0">{diff / 60}</f:format.number> minute ago
                            </small>

                        </td>

                        <td style="text-align: right">
                            {task.status}<br />
                            <f:if condition="{task.status} == 'new'">
                                <video:progress subject="{task.uid}" />
                            </f:if>

                            <f:if condition="{task.status} == 'failed'">
                                <span class="t3-icon t3-icon-mimetypes t3-icon-other-other">&nbsp;</span>
                            </f:if>
                        </td>

                        <td>

                            <f:comment>
                                <f:debug>{task}</f:debug>
                            </f:comment>

                            [{task.uid}]
                            Ident: {task.file_identifier}

                        </td>

                        <!-- ToDo
                        <td>
                            <a
                                    href="/fileadmin{v:format.replace(content:task.file_identifier, substring: ".mp4", replacement: '.jpg')}"
                                    target="_new"
                            >
                                <img width="64px" src="/fileadmin{v:format.replace(content:task.file_identifier, substring: ".mp4", replacement: '.jpg')}" />
                                <v:format.replace content="/fileadmin{task.file_identifier}" substring=".mp4" replacement=".jpg" />

                            </a>
                        </td>
                        -->
                        <td>
                            <dl class="dl-horizontal" style="margin: 0">
                                <f:for each="{task.configuration}" as="configuration" key="key">
                                    <strong>{key}</strong> {configuration -> f:format.json()},
                                </f:for>
                            </dl>
                        </td>


                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default" title="Info"
                                   onclick="top.TYPO3.InfoWindow.showItem('_FILE', {task.file_combi_ident -> f:format.json()});return false;">
                                    <c:icon identifier="actions-document-info" />
                                </a>
                                <f:variable name="isNew" value="{f:if(condition: '{task.status} == \'new\' && {task.lastUpdate} == 0', then: 1)}"/>
                                <f:variable name="isFailed" value="{f:if(condition: '{task.status} == \'failed\'', then: 1)}"/>
                                <f:variable name="isFinished" value="{f:if(condition: '{task.status} == \'finished\'', then: 1)}"/>
                                <f:variable name="isStuck" value="{f:if(condition: '{task.status} == \'stuck\'', then: 1)}"/>


                                <f:variable name="isStuck" value="{f:if(condition: '({diff -> f:format.number(decimals: 0)}/60) >= 100 ', then: 1)}"/>

                                {isStuck}



                                <f:if condition="{isNew} || {isFailed} || {isFinished} || {isStuck}">
                                    <f:form action="delete" class="btn-group">
                                        <f:form.hidden name="task" value="{task.uid}" />
                                        <button class="btn btn-default" title="Delete">
                                            <c:icon identifier="actions-edit-delete" />
                                        </button>
                                    </f:form>
                                </f:if>


                            </div>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

</f:section>

</html>
